{% extends "base.html" %}
{% block siteSection %}Import {{instrumentType}}{% endblock %}

{% load tz %}
{% load siteFrames %}
{% load static %}

{% block cssExtras %}
{{ block.super }}
<style type="text/css" title="currentStyle">
	@import "{{ EXTERNAL_URL }}jquery-ui/themes/base/jquery-ui.css";
	@import url('{{EXTERNAL_URL}}jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.css');
</style>

{% endblock cssExtras %}

{% block content %}
<strong>{{instrumentType}} Data Import Form</strong>
{% if errors %}
	 <div  id="messages" class="error">
	    <ul class="messages" id="errorMessage" style="color:red;">
	    {% for error in errors %}
	        <li>  {{ error }}</li>
	    {% endfor %}
	    </ul>
	</div>
	{% endif %}
<form id="instrument_data_import" action="{{instrumentDataImportUrl}}" method="post" enctype="multipart/form-data">
	<table>
    {{ form.as_table }}
    <tr>
    	<td></td>
    	<td id="buttons">
    		<input id="save" class="btn btn-primary" type="submit" value="Import">
    	</td>
    </tr>
    </table>
</form>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  {{ form.media }}
  	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui/jquery-ui.js"></script>
	{% include "xgds_core/timeJS.html" %}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jquery-ui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src="{% static 'xgds_core/js/datetimepickerUtils.js' %}"></script>
{% endblock scripts %}

{% block jsInit %}
 $(document).ready( function () {
 addDateTimePicker("id_dataCollectionTime", '{{settings.TIME_ZONE}}'); //Etc/UTC'); 
});
{% endblock jsInit %}