{% extends 'dashboard_base.html' %}
{% load tz %}
{% load json_dumps %}

{% block sitemenu-content-secondary %}
	{# include "instrument_subnav.html" #}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
  {% include "xgds_notes2/NoteCSS.html" %}
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
{% endblock scripts %}

{% block jsInit %} 
{{ block.super }}

// initialize the notes when the window is ready
$(document).ready(function() {
	{% if dataProduct %}
		showOnMap([{{dataProduct.toMapDict|json_dumps|safe}}]);
	{% endif %}
	var container = $('#notes_content');
	var tbl = container.find('table#notes_list');
	if ( $.fn.DataTable.isDataTable( tbl) ) {
	    var dt = $(tbl).dataTable();
	    dt.fnClearTable();
	}
	initializeNotesReference(container, '{{sample.modelAppLabel}}', '{{sample.modelTypeName}}', '{{sample.pk }}', '{{sample.collection_time|date:"Y-m-d H:i:s"}}' + ' UTC', '{{sample.collection_timezone}}');
	getNotesForObject('{{sample.modelAppLabel}}', '{{sample.modelTypeName}}', '{{sample.pk }}', 'notes_content', tbl);
	
	// show the notes div
	var notes_input_div = $("#notes_input");
	notes_input_div.removeAttr('hidden');
	notes_input_div.show();
	
    initializeTags();
	var taginput = notes_input_div.find('.taginput');
	initializeInput($(taginput)[0]);
	hookNoteSubmit();
});

{% endblock jsInit %} 

{% block firstPackery %} 
<div class='item w2 lockAspect' id='item_sample_create' data-isStamped="false">
	<div class="error-message upload-error"></div>
	<i class="icon-lock-open pinDiv"></i><br />
	<div id="save-status"> {{status}} </div>
	
	<div> <strong> Viewing Instrument Data Product</strong> </div>
	<table>
		<tr>
			<th><label for="id_name">Pk:</label></th>
			<td> {{ dataProduct.pk }}</td>
		</tr>
	</table>
	<div id="complete_notes">
		<strong>Notes</strong>
		<div id="notes_content" class="tab-content active">
		{% include 'xgds_notes2/notes_input_include.html' %}
		{% include 'xgds_notes2/notes_table_small.html' %}
		</div>
	</div>
	{% csrf_token %}	
</div>
{{ block.super }}
{% endblock firstPackery %}
