{% extends 'dashboard_base.html' %}
{% load tz %}
{% load json_dumps %}

{% block sitemenu-content-secondary %}
	{# include "instrument_subnav.html" #}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
  {% include "xgds_notes2/NoteCSS.html" %}
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
{% endblock scripts %}

{% block jsInit %} 
{{ block.super }}

// initialize the notes when the window is ready
$(document).ready(function() {
	{% if dataProduct %}
		showOnMap([{{dataProduct.toMapDict|json_dumps|safe}}]);
	{% endif %}
	var container = $('#notes_content');
	var tbl = container.find('table#notes_list');
	if ( $.fn.DataTable.isDataTable( tbl) ) {
	    var dt = $(tbl).dataTable();
	    dt.fnClearTable();
	}
	initializeNotesReference(container, '{{dataProduct.modelAppLabel}}', '{{dataProduct.modelTypeName}}', '{{dataProduct.pk }}', '{{dataProduct.acquisition_time|date:"Y-m-d H:i:s"}}' + ' UTC', '{{dataProduct.acquisition_timezone}}');
	getNotesForObject('{{dataProduct.modelAppLabel}}', '{{dataProduct.modelTypeName}}', '{{dataProduct.pk }}', 'notes_content', tbl);
	
	// show the notes div
	var notes_input_div = $("#notes_input");
	notes_input_div.removeAttr('hidden');
	notes_input_div.show();
	
	var taginput = notes_input_div.find('.taginput');
	initializeInput($(taginput)[0]);
	hookNoteSubmit();
});

{% endblock jsInit %} 

{% block preMap %}
<div class="grid-stack-item" id='instrument_data_summary'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2">
            <div class="grid-stack-item-content"> 
	<div class="error-message upload-error"></div>
	<i class="icon-lock-open pinDiv"></i><br />
	<div id="save-status"> {{status}} </div>
	
	<div> <strong>{{dataProduct.instrument.displayName}} Data Product</strong> </div>
	<table>
		<tr>
		    <th><label for="id_name"><em>ID</em></label></th><th><label><em>Flight</em></label></th><th><label><em>Collector</em></label></th>
		    <th><label><em>Time</em></label></th>
		</tr>
		<tr>
			<td style="padding-right:20px;"> {{ dataProduct.pk }}</td><td style="padding-right:20px;">{% if dataProduct.flight %}{{dataProduct.flight}}{% else %}-none-{% endif %}</td><td style="padding-right:20px;">{{dataProduct.resource.vehicle.name}}: {{dataProduct.collector.first_name}} {{dataProduct.collector.last_name}}</td><td>{% timezone dataProduct.acquisition_timezone %}{{dataProduct.acquisition_time|date:"Y-m-d H:i:s"}}{% endtimezone %}</td>
		</tr>

	</table>
	<div id="complete_notes">
		<strong>Notes</strong>
		<div id="notes_content" class="tab-content active">
		{% include 'xgds_notes2/notes_input_include.html' %}
		{% include 'xgds_notes2/notes_table_small.html' %}
		</div>
	</div>
	{% csrf_token %}	
</div>
</div>
{% endblock preMap %}
